name: Populate Names
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  merge:
    name: Name
    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
      SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
      NODE_TLS_REJECT_UNAUTHORIZED: 0
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install
      - name: Remove provisional acounts
        run: |
          export NODE_TLS_REJECT_UNAUTHORIZED=0
          bun run populateNames.ts


